@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
/* Navbar */

.my-nav {
  width: 100%;
  height: 60px;
  position: fixed;
  line-height: 60px;
  text-align: center;
  top:0;
  padding: 20px 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 3;
}

.my-nav span.logo {
  margin: 0 auto;
  font-weight: bold;
}

.my-nav span.logo div {
  text-decoration: none;
  color: #333;
  font-size: 2.5rem;
  text-align: center;
  cursor:pointer;
}

.navTrigger {
  
  display: none;
  float: left;
}

/* Media query section */

@media screen and (max-width: 768px){
  .navcontainer {
    width: 100%;
    position: relative;
    margin:0 auto;
  }
  .my-nav span.logo div {
    text-decoration: none;
    color: #333;
    font-size: 2.5rem;
  }
  .navTrigger {
    display: block;
  }

  .my-nav div.logo {
    margin-left: 15px;
  }

  .my-nav div.media_button {
    display: block;
  }

  .my-search-bar {
    width: 100%;
    position: fixed;
    bottom: 75px;
    background-color: #fff;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  .my-search-bar.inactive {
    display: none;
  }
  .my-search-bar .my-search-input {
    width: 80%;
    background-color: #eee;
    outline: none;
    border-radius: 10px;
    border:none;
    height:30px;
    padding: 0 10%;
    margin-left: 10%;
    font-size: 13px;
  }
  .my-search-bar .my-search-placeholder {
    position: absolute;
    width: 50px;
    left: 7%;
    top: 15px;
    color: #ccc;
  }
  .my-search-bar .my-search-placeholder .my-search-icon{
    font-size: 20px;
  }
  .my-search-bar .my-search-result {
    position: fixed;
    display: flex;
    overflow: scroll;
    // width: 700px;
    // padding: 0 50px;
    width: 100%;
    padding: 0 25px;
    height: 200px;
    bottom: 120px;
    scrollbar-width: none;
    background-color: #fff;
    align-items: center;
    gap: 15px;
    font-family: 'MinSans-Regular', sans-serif;
    border: 1px solid #ccc;
  }
  .my-search-bar .my-search-result::-webkit-scrollbar {
    display: none;
  }
  .my-search-bar .close-btn{
    position: fixed;
    right: 30px;
    bottom: 280px;
    cursor: pointer;
  }
  .my-search-bar .result-right-btn{
    position: fixed;
    right: 0px;
    bottom: 210px;
    z-index: 3;
    cursor: pointer;
  }
  .my-search-bar .result-left-btn{
    position: fixed;
    left: 0px;
    bottom: 210px;
    z-index: 3;
    cursor: pointer;
  }
  .my-search-bar .my-search-result-item {
    width: 150px;
    height: 135px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .my-search-bar .my-search-result-item .my-search-result-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px auto;
  }
  .my-search-bar .my-search-result-item .my-search-result-nickname{
    width: 120px;
    margin: 0 auto;
  }
  .my-search-bar .my-search-result-item .my-search-result-id{
    width: 120px;
    margin: 0 auto;
  }
  // Mobile Footer bar
  #footer-container{
    width: 100%;
    min-width:300px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    font-size: 17px;
    z-index: 3;
    margin: 0 auto;
  }
  #footer-container.inactive{
    display:none;
  }

  #my-footer{
    width: 100%;
    height: 60px;
    background-color: #faf4e4;
    position: absolute;
  }

  #bubbleWrapper{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 25px;
  }

  .bubble{
    background-color: #faf4e4;
    width: 50px;
    height: 50px;
    bottom: 85px;
    border-radius: 50%;
    z-index: 1;
    transform: translateY(120%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon{
    opacity: 0;
  }

  #bubble1{
    transform: translateY(0%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    > span{
      opacity: 0.7;
    }
  }

  #bgWrapper{
    filter: url(#goo);
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 60px;
  }
  #bg{
    background-color: #fff;
    width: 120%;
    height: 100%;
    margin-left: -10%;
  }
  #bgBubble{
    position: absolute;
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    bottom: -50px;
    left: 10%;
    transform: translateX(-50%);
  }

  #menuWrapper{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .menuElement{
    opacity: 0.4;
    transform: translateY(100%);
    cursor: pointer;
    &:hover{
      opacity: 0.5;
    }
  }

  #contentWrapper{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
      color: #faf4e4;
      font-family: sans-serif;
      font-weight: 400;
    }
  }
  .content{
    display: none;
    opacity: 0;
  }
}

// PC Web
@media screen and (min-width:768px){
  .navcontainer {
    width: 1000px;
    position: relative;
    margin:0 auto;
    z-index: 3;
  }
  .navTrigger {
    display: block;
  }

  .my-nav span.logo div {
    text-decoration: none;
    color: #333;
    font-size: 3.5rem;
  }
  .my-nav div.logo {
    margin-left: 15px;
  }
  .my-nav div.media_button {
    display: block;
  }
  
  .my-search-bar {
    width: 800px;
    position: fixed;
    bottom: 75px;
    // left: calc(50%);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    height:43px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: 3;
  }
  .my-search-bar.innewsfeed{
    left: calc(50% + 1px);
  }
  .my-search-bar.inactive {
    display: none;
  }
  .my-search-bar .my-search-input {
    width: 70%;
    background-color: #eee;
    outline: none;
    border-radius: 10px;
    border:none;
    height:30px;
    padding: 0 10%;
    margin:0 auto;
    font-size: 15px;
  }
  .my-search-bar .my-search-placeholder {
    position: absolute;
    width: 50px;
    left: 70px;
    top: 12px;
    color: #ccc;
  }
  .my-search-bar .my-search-placeholder .my-search-icon{
    font-size: 20px;
  }
  .my-search-bar .my-search-result {
    position: fixed;
    display: flex;
    overflow: scroll;
    // width: 700px;
    // padding: 0 50px;
    width: 800px;
    padding: 0 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    bottom: 40px;
    scrollbar-width: none;
    background-color: #fff;
    align-items: center;
    gap: 15px;
    font-family: 'MinSans-Regular', sans-serif;
    border: 1px solid #ccc;
  }
  .my-search-bar .my-search-result.newsfeed {
    left: calc(50% + 1px);
  }
  .my-search-bar .my-search-result::-webkit-scrollbar {
    display: none;
  }
  .my-search-bar .close-btn{
    position: fixed;
    right: 30px;
    bottom: 210px;
    cursor: pointer;
  }
  .my-search-bar .result-right-btn{
    position: fixed;
    right: 0px;
    bottom: 140px;
    z-index: 3;
    cursor: pointer;
  }
  .my-search-bar .result-left-btn{
    position: fixed;
    left: 0px;
    bottom: 140px;
    z-index: 3;
    cursor: pointer;
  }
  .my-search-bar .my-search-result-item {
    width: 150px;
    height: 135px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .my-search-bar .my-search-result-item .my-search-result-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 10px auto;
  }
  .my-search-bar .my-search-result-item .my-search-result-nickname{
    width: 120px;
    margin: 0 auto;
  }
  .my-search-bar .my-search-result-item .my-search-result-id{
    width: 120px;
    margin: 0 auto;
  }
  // Mobile Footer bar
  #footer-container{
    // width: 100%;
    min-width: 300px;
    width: 800px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    // left: calc(50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    z-index: 3;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc; 
    // margin: 0 auto;
  }
  #footer-container.innewsfeed{
    left: calc(50% + 1px);
    // left: 50%;
  }
  #footer-container.inactive{
    display:none;
  }

  #my-footer{
    width: 100%;
    height: 60px;
    background-color: #faf4e4;
    position: absolute;
  }

  #bubbleWrapper{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 25px;
  }

  .bubble{
    background-color: #faf4e4;
    width: 50px;
    height: 50px;
    bottom: 85px;
    border-radius: 50%;
    z-index: 1;
    transform: translateY(120%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon{
    opacity: 0;
  }

  #bubble1{
    transform: translateY(0%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    > span{
      opacity: 0.7;
    }
  }

  #bgWrapper{
    filter: url(#goo);
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 60px;
  }
  #bg{
    background-color: #fff;
    width: 120%;
    height: 100%;
    margin-left: -10%;
  }
  #bgBubble{
    position: absolute;
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    bottom: -50px;
    left: 10%;
    transform: translateX(-50%);
  }

  #menuWrapper{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .menuElement{
    opacity: 0.4;
    transform: translateY(100%);
    cursor: pointer;
    &:hover{
      opacity: 0.5;
    }
  }

  #contentWrapper{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
      color: #faf4e4;
      font-family: sans-serif;
      font-weight: 400;
    }
  }
  .content{
    display: none;
    opacity: 0;
  }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 25px;
  margin: 20px 20px;
  right: 10px;
}

.navTrigger i {
  background-color: #333;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}


.affix {
  padding: 0;
  background-color: #faf4e4;
}
