@media screen and (max-width:768px){
  
}
@media screen and (min-width:768px){
  .user-update-container {
    font-family: 'MinSans-Regular', sans-serif;
    background-color: #fff;
    width: 800px;
    height: 80vh;
    position: relative;
    top: 60px;
    border: 1px solid #ccc;
    left: 50%;
    transform: translateX(-50%);
  }
}