@media screen and (max-width:768px){
  
}
@media screen and (min-width:768px){
  .user-update-container {
    font-family: 'MinSans-Regular', sans-serif;
    background-color: #fff;
    width: 800px;
    height: 80vh;
    position: relative;
    top: 60px;
    border: 1px solid #ccc;
    left: 50%;
    transform: translateX(-50%);
  }
  .user-update-container .user-update-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .user-update-container .user-update-box .userid{
    font-size: 30px;
    text-align: center;
  }
  .user-update-container .user-update-box .useremail{
  }
  .user-update-container .user-update-box .nickname{
  }
  .user-update-container .user-update-box .user-profile{
  }
  .user-update-container .user-update-box .fav-animal{
  }

}