/* MobileWeb */
@media screen and (max-width:768px){
  img {
    display: block;
  }
  .user-feed-container {
    font-family: 'MinSans-Regular', 'sans-serif';
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 60px;
    left:50%;
    transform: translateX(-50%);
    height: 80%;
    margin: 0 auto;
    z-index: 1;
    background-color: #fff;
    overflow: auto;
    scrollbar-width: none;
  }
  .user-feed-container::-webkit-scrollbar{
    display:none;
  }
  .user-feed-container .user-profile {
    position: relative;
    top: 0;
  }
  .user-feed-container .user-profile .user-profile-image{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 25px;
    left: 25px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .user-feed-container .user-profile .nickname{
    position: absolute;
    left: 120px;
    top: 25px;
    font-size: 18px;
    display: flex;
    gap: 20px;
    font-weight: bold;
  }
  .user-feed-container .user-profile .nickname .material-icons.profile-change-btn{
    line-height: 25px;
    font-size: 18px;
    cursor: pointer;
  }
  .user-feed-container .user-profile .id{
    position: absolute;
    left: 120px;
    top: 50px;
    font-size: 16px;
    font-weight: bold;
  }
  .user-feed-container .user-profile .user-pet {
    position: absolute;
    left: 120px;
    top: 80px;
    font-size: 14px;
    max-width: 500px;
  }
  .user-feed-container .user-profile .profile-content{
    position: absolute;
    left: 30px;
    top: 110px;
    font-size: 14px;
    max-width: 500px;
    max-height: 180px;
    overflow: hidden;
  }
  .user-feed-container .user-profile .follow-btn {
    position: absolute;
    top: 30px;
    left: 280px;
    width: 100px;
    cursor: pointer;
  }
  .user-feed-container .user-profile .taping-thumbnail {
    position: absolute;
    top:200px;
    width: 100%;
    height: 150px;
    background-color: orange;
  }
  .user-feed-container .user-profile .follow-and-feed-mobile {
    position: relative;
    top: 350px;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .user-feed-container .user-profile .follow-and-feed {
    display:none;
  }
  .user-feed-container .user-profile .follow-and-feed .follower{
    cursor: pointer;
  }
  .user-feed-container .user-profile .follow-and-feed .follwing{
    cursor: pointer;
  }
  .user-feed-container .file-preview-container {
    position: absolute;
    top: 450px;
    z-index: 0;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
  }
  .user-feed-container .file-preview-container .feed-thumbnail{
    width: 120px;
    height: 120px;
    cursor: pointer;
  }
}
/*  */
@media screen and (min-width:768px){
  img {
    display: block;
  }
  .user-feed-container {
    font-family: 'MinSans-Regular', 'sans-serif';
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: 60px;
    left:50%;
    padding-bottom: 50px;
    transform: translateX(-50%);
    height: 90%;
    margin: 0 auto;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    scrollbar-width: none;
  }
  .user-feed-container::-webkit-scrollbar{
    display:none;
  }
  .user-feed-container .user-profile {
    position: relative;
    top: 0;
  }
  .user-feed-container .user-profile .user-profile-image{
    height: 225px;
    width: 225px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 25px;
    left: 50px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .user-feed-container .user-profile .nickname{
    position: absolute;
    left:300px;
    top: 30px;
    font-size: 30px;
    display: flex;
    gap: 20px;
  }
  .user-feed-container .user-profile .nickname .material-icons.profile-change-btn{
    line-height: 40px;
    cursor: pointer;
  }
  .user-feed-container .user-profile .id{
    position: absolute;
    left: 300px;
    top: 60px;
    font-size: 24px;
    max-width: 500px;
  }
  .user-feed-container .user-profile .follow-and-feed {
    position: relative;
    top: 80px;
    left: 252px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    text-align: center;
    padding: 20px 0;
  }
  .user-feed-container .user-profile .follow-and-feed-mobile {
    display: none;
  }
  .user-feed-container .user-profile .follow-and-feed .follower{
    cursor: pointer;
  }
  .user-feed-container .user-profile .follow-and-feed .follwing{
    cursor: pointer;
  }
  .user-feed-container .user-profile .user-pet {
    position: absolute;
    left: 300px;
    top: 130px;
    font-size: 16px;
    max-width: 500px;
  }
  .user-feed-container .user-profile .profile-content{
    position: absolute;
    left: 300px;
    top: 150px;
    font-size: 20px;
    max-width: 500px;
    max-height: 180px;
    overflow: hidden;
  }
  .user-feed-container .user-profile .follow-btn {
    position: absolute;
    top: 50px;
    left: 600px;
    width: 150px;
    cursor: pointer;
  }
  .user-feed-container .user-profile .taping-thumbnail {
    position: absolute;
    top: 270px;
    width: 100%;
    height: 250px;
    background-color: orange;
  }
  .user-feed-container .file-preview-container {
    position: absolute;
    top: 520px;
    z-index: 0;
    width:800px;
    display: flex;
    flex-wrap: wrap;
    gap:25px;
  }
  .user-feed-container .file-preview-container .feed-thumbnail{
    width: 250px;
    height: 250px;
    cursor: pointer;
  }
}